.container {
    background-color: rgb(206, 201, 201);
    width: 1500px;
    margin: 0 auto;
}

.title {
    font-size: 75px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.slider {
    width: 750px;
    height: 475px;
    border: 3.5px solid black;
    margin: 0 auto;
    overflow: hidden;
}

.slider-line {
    height: 475px;
    width: 3750px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

img {
    width: 750px;
    height: 475px;
}

.slider-next {
    margin: 15px;
    font-size: 45px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 12px;
}

.slider-next:hover {
    background-color: rgb(252, 44, 44);
    color: #fff;
    transition: .3s;
}

.slider-prev {
    margin: 15px;
    font-size: 45px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 12px;
}

.slider-prev:hover {
    background-color: rgb(252, 44, 44);
    color: #fff;
    transition: .3s;
}

.nav {
    display: flex;
    justify-content: center;
}